<!DOCTYPE html>
<html>
<head>
    <title>Top Anime</title>
</head>
<body style="background-color: #dcd0fd;">
    <h1>Top Anime</h1>

    {% for item in information %}
        <div>
            <h2>{{ item.find('h3').text }}</h2>
            <p>{{ item.find('span', class_='runtime').text }}</p>
            <p>{{ item.find('span', class_='genre').text }}</p>
        </div>
    {% endfor %}

    {% for url in image_urls %}
        <div>
            <img src="{{ url }}" alt="Anime Image">
        </div>
    {% endfor %}
</body>
</html>
